body { /*style pour le corps de page*/
  background: #DCDCDC;  
  font-family: Arial, sans-serif;
  line-height: 1.6; /*espacement entre les lignes*/
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

.conteneur {
  display: flex;
  padding: 20px;
  text-align: center;
  justify-content:center;
}
.contenu {
  width: 800px;
  background-color: white;
  padding: 30px;
  border-radius: 1%;
  align-items: center;
}

.question { /*style du quizz*/
  margin-bottom: 20px;
  text-align: left;
  margin-left: 20px;
}

.question p {
	font-weight: bold;
	text-align: left;
}


.correct {
    color: green;
}

.incorrect {
    color: red;
}

.title {
  text-align: center;
  margin-top: 20px;
}

.title a {
  text-decoration: none;
  color:red; 
  font-size: 44px; 
  font-weight: bold; 
  text-transform: uppercase; 
}

.title a:hover{
	text-decoration: underline;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  min-width: 160px;
  border: none;
  cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1;}


.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}