body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Couleur de fond */
}

canvas {
    border: 2px solid black; /* Bordure pour le canvas */
    background-image: url('images/background.jpg');
}
